@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

h1, h2, h3, h4, h5, p {
	font-family: "Roboto", "Arial", "Verdana", "sans-serif";
}

body {
	margin: 0%;
	padding: 0%;
}
/* navigatie */
#navigatiebalk {
	position: fixed;
	top: 0%;
	width: 100%;
	z-index: 12;
}
/* hamburger go away */
#navigatiebalk label, #hamburger {
	display: none;
}
/* menu li's */
#navigatiebalk ul {
	list-style-type: none;
	margin: 0%;
	padding: 0%;
	overflow: hidden;
	background-color: #2699FB;
}

#navigatiebalk ul li {
	display: inline-block;
	padding: 1%;
	box-sizing: border-box;
	vertical-align: middle;
}

#navigatiebalk ul li a {
	color: #fff;
	text-decoration: none;
	float: left;
	margin: 0%;
}

#navigatiebalk ul li:hover {
	background-color: #111;
}

#menu_text {
	color: #FFFFFF;
}


/* HERO */

.content_hero {
	text-shadow: 
		-1px -1px 0 #000000,
		1px -1px 0 #000000,
		-1px 1px 0 #000000,
		1px 1px 0 #000000;
}

.content_hero > h1 {
	font-size: 4.5em;
	color: #2699FB;
}

.content_hero > h2 {
	font-size: 3.5em;
	color: #FFFFFF;
}


.header-unit { 
  position: relative;
  padding: 25%;
}
#video-container {
	position: absolute;
}
#video-container {
	top:0%;
	left:0%;
	height:100%;
	width:100%;
	overflow: hidden;
}
video {
	position:absolute;
	z-index:0;
}
video.fillWidth {
	width: 100%;
}

.content_hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  text-align: center;
}

/* MAIN CONTENT */

.h2_header {
	font-size: 3.5em;
}

#wrapper_main {
	background-color: #F5F5F5
}



#maincontent {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 1em;
	margin: 0 auto;
	max-width: 56em;
	padding: 1em 0;	
}

#header_main, #footer_main {
	grid-column: 1 / span 5;
}

#article_main {
	grid-column: 1 / span 3;
}


#aside_main {
	grid-column: span 2;
}

#header_main, #aside_main, #article_main, #footer_main {
	display: inline;
	
}

#header_main {
	align-items: center;
	justify-content: center;
	display: flex;
	background: #2699FB;
}

#header_main {
	height: 10vw;
}

#aside_main img {
	max-width: 75%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding: 1%;
}

#footer_main {
	background: #2699FB;
	text-align: center;
}



#article_main {
	border-left: solid #2699FB 0.5em;
}

#aside_main {
	border-right: solid #2699FB 0.5em;
}

.buttoncta{
	background-color: #FFFFFF;
	border: none;
	color: #2699FB;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	max-width: 20%;


}

.buttoncta:hover {
	background-color: #AAAAAA;
}


/* Secondary CONTENT */

.h2_header {
	font-size: 3.5em;
}

#wrapper_secondary {
	background-color: #2699FB;
}



#secondarycontent {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 1em;
	margin: 0 auto;
	max-width: 56em;
	padding: 1em 0;	
}

#header_secondary, #footer_secondary {
	grid-column: 1 / span 5;
	
}

#article_secondary {
	grid-column: 1 / span 3;
}


#aside_secondary {
	grid-column: span 2;
}

#header_secondary, #aside_secondary, #article_secondary, #footer_secondary {
	display: inline;
	
}

#header_secondary {
	align-items: center;
	justify-content: center;
	display: flex;
	background: #2699FB;
}

#header_secondary {
	height: 10vw;
	background-color: #FFFFFF;
}

#aside_secondary img {
	max-width: 75%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding: 1%;
}

#footer_secondary {
	background-color: #FFFFFF;
	text-align: center;
}



#article_secondary {
	border-left: solid #2699FB 0.5em;
}

#aside_secondary {
	border-right: solid #2699FB 0.5em;
	background-color: #FFFFFF;
}

.buttoncta2{
	background-color: #2699FB;
	border: none;
	color: #FFFFFF;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	max-width: 20%;


}

/* REFERRAL CONTENT */
#referralcontent {
	max-width: 56em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#CTA {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	background: #2699FB;
	padding: 20px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
	margin-bottom: 20px;
}

#CTA:hover {
	background: #ed3330;
	letter-spacing: 1px;
	transition: all 0.4s ease 0s;
}

/* CONTACT */
#contactcontent {
	text-align: center;
	display: flex;
	justify-content: center;
	background-color: #2699FB;
}

input[type=text], select, textarea, input[type=email] {
	display: inline-block;
	box-sizing: border-box;
	color: #2699FB;
}

label {
	color: #FFFFFF;
}

legend {
	color: #FFFFFF;
}



fieldset {
	background-color: #444444;
}
input[type=submit] {
	background-color: #FFFFFF;
	border: none;
	color: #2699FB;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	max-width: 20%;
	margin: 5%;
}

/* SPORT */


.leider {
	height: 240px;
	margin-bottom: 30px;
	padding: 30px;
	color: #FFF;
	background: url("../img/achtergrond.png") center #333 no-repeat;
	background-size: cover;
	color: #FFF;
	text-shadow: 0px 0px 5px #000;
}

.leider-bigtext {
	margin-right: 60px;
	font-weight: bold;
	font-size: 24vw;
}

.leading-text {
	max-width: 900px;
	font-size: 1.2em;
	line-height: 1.4em;
}



@media (min-width: 700px) {
	.leider {
		display: flex;
		align-items: center;
	}
	.leading-bigtext {
		font-size: 140px;
	}

}

.kaarten {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 30px;
}

.kaarten {
	max-width: 960px;
	margin: 0 auto 30px;
}

.grid_post {
	position: relative;
}

.article-img {
	height: 200px;
	width: 100%;
	object-fit: cover;
}

.article-title {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 10px;
}
/* FOOTER */
.footerlist {
	list-style-type: none;
	margin-bottom: 5%;
}

/* COOKIES */

#cookies {
	background-color: rgba(20,20,20,0.8);
    min-height: 26px;
    font-size: 14px;
    color: #AAAAAA;
    line-height: 26px;
    padding: 0.1%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.cookie {
	background-color: #2699FB;
	float: right;
	border: none;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.2em;
	margin-right: 5%;
	cursor: pointer;
}

.buttoncta:hover {
	background-color: #AAAAAA;
}
@media screen and (max-width: 768px) {
	#navigatiebalk label {
		display: inline-block;
		color: #fff;
		background: #333;
		font-style: normal;
		font-size: 2.2em;
		padding: 1%;
		width: 100%;
	}
	#navigatiebalk ul li a {
	color: #fff;
	text-decoration: none;
	float: none;
}
	#navigatiebalk ul li {
		display: block;
	}
	#navigatiebalk ul {
		display: none;
	}
	#navigatiebalk li {
		margin-bottom: 2%;
	}
	#navigatiebalk input:checked ~ ul {
		display: block;
	}
	video {
		display: none;
	}
	.header-unit {
		background: url(../img/achtergrond.png) #000;
		background-size: cover;
	}
	#menu_text {
		display: none;
	}

	
}

@media screen and (max-width: 900px) {
	#article_main, #aside_main {
		grid-column: 1 / span 5;
	}
	
	#article_secondary {
		grid-column: 1 / span 5;
	}
	#aside_secondary {
		display: none;
	}
	.content_hero {
		position: absolute;
		top: 16%;
		left: 50%;
		z-index: 11;
		text-align: center;
	}
	.content_hero h1 {
		font-size: 2.5em;
	}

	.content_hero h2 {
		font-size: 1em;
	}
	.cookie {
		display: none;
	}
		.leider-text {
		display: none;
	}
}


