body {
	margin: 0%;
	padding: 0%;
}
/* navigatie */
#navigatiebalk {
	position: fixed;
	top: 0%;
	width: 100%;
	z-index: 10;
}
/* hamburger go away */
#navigatiebalk label, #hamburger {
	display: none;
}
/* menu li's */
#navigatiebalk ul {
	list-style-type: none;
	margin: 0%;
	padding: 0%;
	overflow: hidden;
	background-color: #333;
}

#navigatiebalk ul li {
	display: inline-block;
	padding: 1%;
	box-sizing: border-box;
}

#navigatiebalk ul li a {
	color: #fff;
	text-decoration: none;
	float: left;
	margin: 0%;
}

#navigatiebalk ul li:hover {
	background-color: #111;
}






.header-unit { 
  position: relative;
  padding: 25%;
}
#video-container {
	position: absolute;
}
#video-container {
	top:0%;
	left:0%;
	height:100%;
	width:100%;
	overflow: hidden;
}
video {
	position:absolute;
	z-index:0;
}
video.fillWidth {
	width: 100%;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  text-align: center;
}

/* MAIN CONTENT */

#main {
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows: 10vw 30vw 10vw;
	grid-gap: 1em;
	
	margin: 0 auto;
	width: 960px;
}

#header_main, #footer_main {
	grid-column: 1 / span 5;
}

#article_main {
	grid-column: 1 / span 3;
}

#aside_main {
	grid-column: span 2;
}

@media screen and (max-width: 768px) {
	#navigatiebalk label {
		display: inline-block;
		color: #fff;
		background: #333;
		font-style: normal;
		font-size: 2.2em;
		padding: 1%;
		width: 100%;
	}
	#navigatiebalk ul li a {
	color: #fff;
	text-decoration: none;
	float: none;
}
	#navigatiebalk ul li {
		display: block;
	}
	#navigatiebalk ul {
		display: none;
	}
	#navigatiebalk li {
		margin-bottom: 5%;
	}
	#navigatiebalk input:checked ~ ul {
		display: block;
	}
	.content {
		  position: absolute;
		  top: 15%;
		  left: 50%;
		  
		  z-index: 11;
		  text-align: center;
	}
	#article_main, #aside_main {
		grid-column: 1 / span 5;
	}
}
