@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

h1, h2, h3, h4, h5, p {
	font-family: "Roboto", "Arial", "Verdana", "sans-serif";
}

body {
	margin: 0%;
	padding: 0%;
}
/* navigatie */
#navigatiebalk {
	position: fixed;
	top: 0%;
	width: 100%;
	z-index: 12;
}
/* hamburger go away */
#navigatiebalk label, #hamburger {
	display: none;
}
/* menu li's */
#navigatiebalk ul {
	list-style-type: none;
	margin: 0%;
	padding: 0%;
	overflow: hidden;
	background-color: #2699FB;
}

#navigatiebalk ul li {
	display: inline-block;
	padding: 1%;
	box-sizing: border-box;
	vertical-align: middle;
}

#navigatiebalk ul li a {
	color: #fff;
	text-decoration: none;
	float: left;
	margin: 0%;
}

#navigatiebalk ul li:hover {
	background-color: #111;
}

#menu_text {
	color: #FFFFFF;
}


/* HERO */

.content h1, h2 {
	text-shadow: 
		-1px -1px 0 #000000,
		1px -1px 0 #000000,
		-1px 1px 0 #000000,
		1px 1px 0 #000000;
}

.content h1 {
	font-size: 4.5em;
	color: #2699FB;
}

.content h2 {
	font-size: 3.5em;
	color: #FFFFFF;
}


.header-unit { 
  position: relative;
  padding: 25%;
}
#video-container {
	position: absolute;
}
#video-container {
	top:0%;
	left:0%;
	height:100%;
	width:100%;
	overflow: hidden;
}
video {
	position:absolute;
	z-index:0;
}
video.fillWidth {
	width: 100%;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  text-align: center;
}

/* MAIN CONTENT */

.h2_header {
	font-size: 3.5em;
}

#wrapper_main {
	background-color: #F5F5F5
}



#maincontent {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 1em;
	margin: 0 auto;
	max-width: 56em;
	padding: 1em 0;	
}

#header_main, #footer_main {
	grid-column: 1 / span 5;
}

#article_main {
	grid-column: 1 / span 3;
}


#aside_main {
	grid-column: span 2;
}

#header_main, #aside_main, #article_main, #footer_main {
	display: inline;
	
}

#header_main {
	align-items: center;
	justify-content: center;
	display: flex;
	background: #2699FB;
}

#header_main {
	height: 10vw;
}

#aside_main img {
	max-width: 75%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding: 1%;
}

#footer_main {
	background: #2699FB;
	text-align: center;
}



#article_main {
	border-left: solid #2699FB 0.5em;
}

#aside_main {
	border-right: solid #2699FB 0.5em;
}

.buttoncta{
	background-color: #FFFFFF;
	border: none;
	color: #2699FB;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	max-width: 20%;


}

.buttoncta:hover {
	background-color: #AAAAAA;
}


/* Secondary CONTENT */

.h2_header {
	font-size: 3.5em;
}

#wrapper_secondary {
	background-color: #F5F5F5
}



#secondarycontent {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 1em;
	margin: 0 auto;
	max-width: 56em;
	padding: 1em 0;	
}

#header_secondary, #footer_secondary {
	grid-column: 1 / span 5;
}

#article_secondary {
	grid-column: 1 / span 3;
}


#aside_secondary {
	grid-column: span 2;
}

#header_secondary, #aside_secondary, #article_secondary, #footer_secondary {
	display: inline;
	
}

#header_secondary {
	align-items: center;
	justify-content: center;
	display: flex;
	background: #2699FB;
}

#header_secondary {
	height: 10vw;
}

#aside_secondary img {
	max-width: 75%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding: 1%;
}

#footer_secondary {
	background: #2699FB;
	text-align: center;
}



#article_secondary {
	border-left: solid #2699FB 0.5em;
}

#aside_secondary {
	border-right: solid #2699FB 0.5em;
}

.buttoncta{
	background-color: #FFFFFF;
	border: none;
	color: #2699FB;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	max-width: 20%;


}

.buttoncta:hover {
	background-color: #AAAAAA;
}
@media screen and (max-width: 768px) {
	#navigatiebalk label {
		display: inline-block;
		color: #fff;
		background: #333;
		font-style: normal;
		font-size: 2.2em;
		padding: 1%;
		width: 100%;
	}
	#navigatiebalk ul li a {
	color: #fff;
	text-decoration: none;
	float: none;
}
	#navigatiebalk ul li {
		display: block;
	}
	#navigatiebalk ul {
		display: none;
	}
	#navigatiebalk li {
		margin-bottom: 2%;
	}
	#navigatiebalk input:checked ~ ul {
		display: block;
	}
	video {
		display: none;
	}
	.header-unit {
		background: url(../img/achtergrond.png) #000;
		background-size: cover;
	}
	#menu_text {
		display: none;
	}

	
}

@media screen and (max-width: 900px) {
	#article_main, #aside_main {
		grid-column: 1 / span 5;
	}
	
	#article_secondary {
		grid-column: 1 / span 5;
	}
	#aside_secondary {
		display: none;
	}
	.content {
		position: absolute;
		top: 16%;
		left: 50%;
		z-index: 11;
		text-align: center;
	}
	.content h1 {
		font-size: 2.5em;
	}

	.content h2 {
		font-size: 1em;
	}
}